body{
    background-color: orange;
}
.titulo{
    margin-left: 35%;
    margin-top: 17%;
    color: antiquewhite;
    font-size: 1.6em;
}

label{
    margin-left: 41%;
    font-size: 1.2em;
    color: blue;
}

input{
    margin-left: 37%;
    font-size: 1em;
    border-radius: 80px;
}

button{
    margin-left: 42%;
    font-size: 1em;
    border-radius: 80px;
}